{
    "singleQuote": true,
    "printWidth": 1000,
    "proseWrap": "never",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "semi": true
}
